<?xml version="1.0" ?>

<launch>

<arg name="robot_name" default="catvehicle"/>

<arg name="tyre_height" default="0.66"/>
<arg name="car_width" default="0.765"/>
<arg name="car_length" default="1.31"/>

<!--include file="$(find catvehicle)/launch/robotviz.launch"/-->

<node pkg="tf" type="static_transform_publisher" name="baselink2front_laser_link_tf_$(arg robot_name)" 
    args="2.4 0 0.8589 0 0 0 /$(arg robot_name)/base_link /$(arg robot_name)/front_laser_link 10"/>

<node pkg="tf" type="static_transform_publisher" name="baselink2front_top_scan_link_tf_$(arg robot_name)" 
    args="0.5 0 2.1 0 0.261799 0 /$(arg robot_name)/base_link /$(arg robot_name)/front_top_lidar 10"/>

<!--node pkg="tf" type="static_transform_publisher" name="baselink2odom_tf_$(arg robot_name)" 
    args="1.05815934707 1.00107238305 -0.265498118197 -2.66421805724e-07 0.000469608095905 0.000372984432518 0.999999820175 /$(arg robot_name)/base_link /$(arg robot_name)/odom 10"/-->

</launch>
